<% provide(:title, "Binary Tree") %>
<h1>Binary Tree</h1>

<div class = "textbox">
	<p>
	  A Binary tree is a tree data structure in which each node has at most two children , which are known as the left and right child. 
	</p>
	<p>
		Binary trees are rarely used only for their structure. It is more typical to define values for each node. Binary trees used in this way are used to implement binary search trees and binary heaps , and are used for efficient searching and sorting. The design of leaf nodes , or nodes at the end of the tree, as a left or right child even when there is only one child nnode present matters in some of this data structure type. Mainly the binary search tree. 
	</p>
</div>
<div class = "picture">
	<%= image_tag("Binary_tree.svg.png", :alt => "Binary Tree") %>
</div>

