<% provide(:title, "Binary Tree") %>
<h1>Binary Tree</h1>

<div class = "textbox">
	<p>
	  A <span class="italic">Binary tree</span> is a tree-based data structure in which each node has at most two children which are known as the left and right child. 
	</p>
	<p>
		Binary trees are rarely used only for their structure. It is more typical to define values for each node. Binary trees used in this way are used to implement binary search trees and binary heaps, and are used for efficient searching and sorting. The orientation - left or right - of the leaf nodes (nodes with no children) is necessary to maintain a complete tree.
	</p>
</div>
<div class = "picture">
	<%= image_tag("Binary_tree.svg.png", :alt => "Binary Tree") %>
</div>

