<% provide(:title, "Spaghetti Stack") %>

<h1>Spaghetti Stack</h1>

<div class = "textbox">
	<p>
	  A Spaghetti stack , also called a cactus stack ,saguaro stack , or a in tree, is  an N-ary tree data structure in which child nodes have pointers to the parent nodes (but not vice-versa).When a group of nodes is traveled from a leaf to a root node by tracing the parent pointers, the structure looks like a linked list stack. It can be compared to a linked list having one and only on parent pointer called a "link", and ignoring that the parent may have more than one child.Which is not possible because there are no downward pointers.
	</p>
</div>
<div class = "picture">
	<%= image_tag("Spaghettistack.svg.png", :alt => "Spaghetti Stack") %>
</div>
