// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sticky-footer-navbar.css';
.textbox
{
	float:left;
	width: 600px;
	height: 200px;
	
	margin-left: 50px;
	margin-right:200px;

	font: 20px/26px serif;
}
.picture img 
{
	float:left;
	width: 17%;
	height: 17%;
	
}
.spaghetti img
{
	float:left;
	margin-left:10px;
	width:5%;
	height:5%;
}
.graph img
{
	float:left;
	margin-left:10px;
	width:4%;
	height:4%;
}
.tree img
{
	float:left;
	margin-left:10px;
	width:5%;
	height:5%;

}
.indent a
{
	margin-left:60px;
	margin-top:10px;
	float:left;
	font: 20px serif;
	color:black;
}
.clear
{
	clear:both;
}
body h1
{
	margin-left:50px;
	color:black;
}

html body
{
	background-color:#9DF9C4;
}
a:link 
{
    color:#00FA9A;
}

footer p, .italic {
	font-style:italic;
}

