// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.textbox
{
	float:left;
	width: 600px;
	height: 200px;
	
	margin-left: 50px;
	margin-right:200px;
}
.picture img 
{
	float:left;
	width: 17%;
	height: 17%;
	
}
body h1
{
	margin-left:50px;
}