// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sticky-footer-navbar.css';
.textbox
{
	float:left;
	width: 600px;
	height: 200px;
	
	margin-left: 50px;
	margin-right:200px;

	font: 20px/26px serif;
}
.picture img 
{
	float:left;
	width: 15%;
	height: 15%;
	
}
.spaghettipicture img
{
	float:left;
	margin-left:60px;
	margin-top:10px;
	width:12%;
	height:12%;
}
.graphpicture img
{
	float:left;
	margin-left:60px;
	margin-top:10px;
	width:10%;
	height:10%;
}
.treepicture img
{
	float:left;
	margin-left:60px;
	margin-top:10px;
	width:12%;
	height:12%;
	background-color:white;

}
.subheader 
{
	margin-left:10px;
	margin-top:40px;
	float:left;
	font: 20px serif;
	color:black;
}
.info
{
	float:left;
	width:350px;
	height:50px;
	margin-left:125px;
	margin-bottom:50px;

	a
	{
		color:black;
	}
}

.clear
{
	clear:both;
}
body h1
{
	margin-left:50px;
	color:black;
}

html body
{
	background-color:#9DF9C4;
}
a:link 
{
    color:#00FA9A;
}


#SpaghettiPanel 
{
	float:left;
	margin-top:20px;
	margin-right:20px;
	margin-left:20px;
	width: 500px;
	height:200px;
	background-color: #F4F4F4;
	border: 5px #CDC9C9 ridge;

}
 #GraphPanel 
{
	float:left;
	margin-top:20px;
	margin-right:20px;
	margin-left:50px;
	width: 500px;
	height:200px;
	background-color: #F4F4F4;
	border: 5px #CDC9C9 ridge;
}
#TreePanel
{
	float:left;
	margin-top:20px;
	margin-right:20px;
	margin-left:50px;
	width: 500px;
	height:200px;
	background-color: #F4F4F4;
	border: 5px #CDC9C9 ridge;
}

 

footer p, .italic {
	font-style:italic;
}


